[submodule "libs/sti"]
	path = libs/sti
	url = git@github.com:wess/Simple-Tiled-Implementation.git
[submodule "libs/lenny"]
	path = libs/lenny
	url = git@github.com:wess/lenny.git
[submodule "libs/anim8"]
	path = libs/anim8
	url = git@github.com:wess/anim8.git
[submodule "libs/bump"]
	path = libs/bump
	url = git@github.com:wess/bump.lua.git
